@farfetch:registry=https://artifacts-we1.farfetch.net/artifactory/api/npm/farfetch-npm-stable-we1/
//artifacts-we1.farfetch.net/artifactory/api/npm/farfetch-npm-stable-we1/:_password=Q3FteWd5NGRzcy4uLg==
//artifacts-we1.farfetch.net/artifactory/api/npm/farfetch-npm-stable-we1/:username=alice.yi
//artifacts-we1.farfetch.net/artifactory/api/npm/farfetch-npm-stable-we1/:email=alice.yi@farfetch.com
//artifacts-we1.farfetch.net/artifactory/api/npm/farfetch-npm-stable-we1/:always-auth=true
