@use '../../styles/base' as *;

.ff__button {
  //   &__wrapper {
  // display: flex;
  // justify-content: center;

  & {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 0 $size-s;
    // border-radius: 4px;
    height: $btn-line-height;
    font-family: $btn-font-family;
    font-size: $btn-font-size;
    line-height: $btn-line-height;
    outline: none;
    overflow: hidden;
    cursor: pointer;

    @include button-style($btn-font-color-dark, $btn-background-color-white, $btn-border-dark);

    &--default {
      @include button-style($btn-font-color-dark, $btn-background-color-white, $btn-border-dark);
    }

    &--primary {
      @include button-style($btn-font-color-white, $btn-background-color-dark, $btn-border-dark);
    }

    &--disabled {
      @include button-style($btn-font-color-white, $btn-background-color-disabled, $btn-border-disabled);
      color: $btn-font-color-white;
      background-color: $btn-background-color-disabled;
      border: $btn-border-disabled;
      cursor: not-allowed;

      >* {
        pointer-events: none;
      }
    }

    &--noBorder {
      border: none;
    }

    &--large {
      @include height($btn-large-line-height);
    }

    &--medium {
      @include height($btn-line-height);
    }

    &--small {
      @include height($btn-small-line-height);
    }

    &--text-left {
      display: flex;

      .content {
        text-align: left;
        flex: 1;
      }
    }

    &--text-center {
      display: flex;

      .content {
        text-align: center;
        flex: 1;
      }
    }

    &--text-right {
      display: flex;

      .content {
        text-align: right;
        flex: 1;
      }
    }


    &__icon {
      position: absolute;
      line-height: 19px;
      right: $size-s;
      top: $size-s;
    }
  }

  &--link {
    background: none;
    border: none;
    color: $btn-link-color;
    font-family: $btn-font-family;
    font-size: $btn-font-size;
    line-height: $btn-line-height;
    text-decoration: $link-decoration;
    width: 100%;
    text-align: center;
    outline-style: none;

    &:visited,
    &:hover,
    &:active {
      color: $btn-link-hover-color;
      font-family: $font-family-semibold;
      font-size: $font-size-15;
      line-height: $btn-line-height;
      text-decoration: $link-hover-decoration;
    }

    &:disabled,
    &.disabled {
      color: $btn-link-disabled-color;
      pointer-events: $link-hover-decoration;
    }
  }

  //   }
}
