@import '@/styles/base.scss';

.ff-button {
  &__wrapper {
    display: flex;
    justify-content: center;

    &.bottom {
      width: 100%;
      margin: 0;
      padding: 0 $size-m;
      position: fixed;
      bottom: 0;
      bottom: constant(safe-area-inset-bottom);
      bottom: env(safe-area-inset-bottom);
      left: 0;
      padding-bottom: $size-s;
    }

    &__button {
      position: relative;
      padding: 0;
      // border-radius: 4px;
      border: $border-btn-dark;
      height: 42px;
      font-family: $font-family-semibold;
      font-size: $font-size-15;
      line-height: 42px;
      color: $color-white;
      background-color: $color-dark;
      outline: none;
      overflow: hidden;
      cursor: pointer;

      &--white {
        color: $color-dark;
        background-color: $color-white;
        border: $border-btn-dark;
      }

      &--disabled {
        color: $color-white;
        background-color: $color-grey;
        border: $color-grey;
      }

      &--noBorder {
        border: none;
      }

      &__icon {
        position: absolute;
        line-height: 19px;
        right: $size-s;
        top: $size-s;
      }
    }

    &__a {
      color: currentColor;
      font-family: $font-family-semibold;
      font-size: $font-size-15;
      line-height: 42px;
      text-decoration: none;
      width: 100%;
      text-align: center;

      &:link,
      &:visited,
      &:hover,
      &:active {
        color: currentColor;
        font-family: $font-family-semibold;
        font-size: $font-size-15;
        line-height: 42px;
        text-decoration: none;
      }
    }
  }
}